.input-style {
    width: 500px;
    height: 30px;
    font-size: 20px;
}

.return-text {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.input-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

button:focus, input:focus {
    outline: 0;
  }
